In [74]:
#notebook to agroup the datasets

from pathlib import Path
from glob import glob
from scipy.io import loadmat
import pandas as pd

#list with all the data files 
fnames = sorted(glob("data/00-data/*.mat"))

In [75]:
#list with all dataframes
df = []
for fname in fnames:
    data = loadmat(fname) #carrega arquivo do tipo matlab 
    var = Path(fname).stem.split('_') #nome do arquivo sem extensão mat
    dates = data['datenum'].squeeze() #valores das datas
    var[-1] = data['values'].squeeze() #valores das variáveis
    df.append (pd.DataFrame([dates, var[-1]], index = ['dates', fname]).T)

In [76]:
#merging dataframes to criate only one

ds = pd.merge(df[0], df[1], how = 'left', on = 'dates')
for i in range (2,12):
    ds = pd.merge(ds, df[i-1], how = 'left', on = 'dates') 
ds

,dates,data/00-data/SC1_atm_atm_co2.mat,data/00-data/SC1_atm_avg_humidity.mat_x,data/00-data/SC1_atm_avg_humidity.mat_y,data/00-data/SC1_atm_avg_press.mat,data/00-data/SC1_atm_avg_radiation.mat,data/00-data/SC1_atm_avg_wnd_dir.mat,data/00-data/SC1_atm_avg_wnd_spd.mat,data/00-data/SC1_atm_precipitation.mat,data/00-data/SC1_satph_ph.mat,data/00-data/SC1_wqmx_chla.mat,data/00-data/SC1_wqmx_do.mat,data/00-data/SC1_wqmx_salinity.mat
0,736768.791667,419.61,65.10,65.10,1014.12,547.06,43.59,5.10,42.55,NaN,0.51225,4.44665,35.82250
1,736768.833333,419.61,66.27,66.27,1014.12,311.76,36.56,4.71,42.35,NaN,0.50395,4.41930,35.82415
2,736768.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.49785,4.42740,35.82510
3,736768.916667,427.45,68.24,68.24,1015.14,0.00,39.38,4.71,42.35,NaN,0.40695,4.46095,35.76810
4,736768.958333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.61460,4.45380,35.69645
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6080,737022.125000,364.71,61.96,61.96,1016.16,11.76,143.44,13.33,16.47,NaN,1.80750,4.97525,35.37460
6081,737022.166667,360.78,63.92,63.92,1015.14,5.88,149.06,14.12,16.47,NaN,1.72505,4.93280,35.37585
6082,737022.208333,368.63,64.71,64.71,1015.14,5.88,135.00,8.24,16.27,NaN,1.61590,4.93600,35.37545
6083,737022.250000,364.71,65.49,65.49,1014.12,0.00,227.81,14.90,16.27,NaN,1.56160,4.96825,35.37850
6084,737022.291667,364.71,66.27,66.27,1014.12,0.00,163.13,10.20,16.47,NaN,1.80095,4.94655,35.38160

In [87]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6085 entries, 0 to 6084
Data columns (total 13 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   dates                                    6085 non-null   float64
 1   data/00-data/SC1_atm_atm_co2.mat         3123 non-null   float64
 2   data/00-data/SC1_atm_avg_humidity.mat_x  3123 non-null   float64
 3   data/00-data/SC1_atm_avg_humidity.mat_y  3123 non-null   float64
 4   data/00-data/SC1_atm_avg_press.mat       3123 non-null   float64
 5   data/00-data/SC1_atm_avg_radiation.mat   3123 non-null   float64
 6   data/00-data/SC1_atm_avg_wnd_dir.mat     3123 non-null   float64
 7   data/00-data/SC1_atm_avg_wnd_spd.mat     3123 non-null   float64
 8   data/00-data/SC1_atm_precipitation.mat   3123 non-null   float64
 9   data/00-data/SC1_satph_ph.mat            0 non-null      float64
 10  data/00-data/SC1_wqmx_chla.mat           4139 non-null   float64
 11  data/00-data/SC1_wqmx_do.mat             4139 non-null   float64
 12  data/00-data/SC1_wqmx_salinity.mat       4139 non-null   float64
dtypes: float64(13)
memory usage: 665.5 KB

In [86]:
#NEXT STEPS

#rename columns

#df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

TypeError: rename() takes from 1 to 2 positional arguments but 3 were given